# Created by .ignore support plugin (hsz.mobi)
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Ignore gradle files
.gradle/
build/

local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/libraries
.idea/vcs.xml
